@charset "utf-8";

main{
	overflow-x:hidden;
	padding:2.5%;
}

h1{
	margin:0;
}

#greatest-growth{
	border-bottom: 1px solid #95FE47;
	width:100%;
}


@media screen and (min-width: 768px) {
	.left{
		width:50%;
		float:left;
	}
	
	.right{
		width:45%;
		float:right;
	}
	
	h2 {
		clear:both;
		padding-top:2.5%;
	}
}

@media screen and (max-width: 767px) {
	.left{
		width:95%;
		float:none;
	}
	
	.right{
		width:95%;
		float:none;
	}
	
	h2 {
		clear:both;
		padding-top:2.5%;
	}

}
